<h1 class="main_header">James Chen</h1>
<h2 class="secondary_header">full stack web developer</h2>
<br>
<hr>
<br>
<h2>HELLO WORLD!</h2>
<p>
	I live in Philadelphia, where I learned to code and have taken this wonderful skillset to help individuals, small businesses, and early-stage start-ups build their web presence.
</p>
<p>
	I love to stay fit, eat healthy, and take photographs. 	
</p>
<h2>
	Future goals:
</h2>
<ul>
	<li><strike>install solar panels onto my residence</strike></li>
	<li>buy a drone to up my photography</li>
	<li>adopt a puppy, a hamster, and a parakeet</li>
	<li>own a Tesla and use my home to charge my car</li>
	<li>create beautifully and intricately designed websites for anyone who appreciates my eye for design</li>
</ul>