<div class="container">
	<h1 class='header center animated bounceInDown'>Front-End Fun</h1>
	<div class="container">
		<h5 class="center animated flip">This is a library of cool HTML, CSS, and JavaScript Techniques I have picked up through various awesome YouTube Channels, which have helped me develop into an interactive designer. I would like to cite and thank <a href="https://www.youtube.com/user/DevTipsForDesigners" target="_blank">DEV TIPS</a>, <a href="https://www.youtube.com/user/LevelUpTuts">LevelUpTuts</a>, & <a href="https://www.youtube.com/watch?v=09_8edPAsR8" target="_blank">Sarah Drasner</a> for their tutorials and inspirations.</h5>
	</div>
	<div class="row">
		<h4 class="center">Hover Effects</h4>
	</div>
	<div class="row">
		<div class="col s12 m4 center showcase">
			<div class="reveal-wrapper">
				<div class="reveal-content">
					<h1>Hello</h1>
				</div>
				<div class="reveal-top">
					<h1>Hello</h1>
				</div>
			</div>
		</div>

		<div class="col s12 m4 showcase center">
			<div class="heartbeat">
				<h1>Heart <br>Beat</h1>
				<div class="bg"></div>
			</div>
		</div>

		<div class="col s12 m4 showcase perspective">
			<div class="card-flip">
				<div class="front">
					<h1>James</h1>
				</div>
				<div class="back">
					<h1>Creates</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="color-square center"></div>
		<h4 class="center">Scroll Effects</h4>
	</div>
	<div class="row">
		<div class="col s12">
			<div class="container">
				<div class="hex-row">
					<div class="hex">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>
					<div class="hex">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>
					<div class="hex">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>
					<div class="hex">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>
					<div class="hex">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>
				</div>
				<div class="hex-row even">
					<div class="hex">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>
					<div class="hex">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>
					<div class="hex">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>
					<div class="hex">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>
					<div class="hex">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>
				</div>
				<div class="hex-row">
					<div class="hex">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>
					<div class="hex">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>
					<div class="hex">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>
					<div class="hex">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>
					<div class="hex">
						<div class="top"></div>
						<div class="middle"></div>
						<div class="bottom"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="center large-window">
			<div class="window-tint">
				<h1 class="hello">hello world</h1>
			</div>
		</div>
	</div>
</div>