<div class="container">
	<h1 class='header center'>Front-End Fun</h1>
	<div class="row">

		<div class="col s6 m4 center showcase">
			<div class="reveal-wrapper">
				<div class="reveal-content">
					<h1>Hello</h1>
				</div>
				<div class="reveal-top">
					<h1>Hello</h1>
				</div>
			</div>
		</div>

		<div class="col s6 m4 showcase center">
			<div class="heartbeat">
				<h1>Heart Beat</h1>
				<div class="bg"></div>
			</div>
		</div>

		<div class="col s6 m4 showcase perspective center">
			<div class="card-flip">
				<div class="front">
					<h1>James</h1>
				</div>
				<div class="back">
					<h1>Creates</h1>
				</div>
			</div>
		</div>
	</div>
</div>