<h1 class="main_header">photography</h1>
<h2 class="secondary_header">an amazing amalgamation of images</h2>
<script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        userId: 1282085253,
        resolution: 'low_resolution',
        accessToken: '1282085253.467ede5.62c62b6941484b5ba4fb049780a473e2',
        sortBy: 'most-liked'
    });
    userFeed.run();
</script>

<div>
	<div id="insta-wrap">
		<div id="instafeed">
			
		</div>
	</div>
</div>
