/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'materialize';
@import 'animate';
$highlight: #6698FF;
$border: #E9E9E9;
$blue: #0d47a1;
$brown: #795548;

/***************************** OVERARCHING CSS ***/

body{
	font-family: 'Alegreya Sans', sans-serif;
}

.bad-script{
	font-style: italic;
	font-family: 'Bad Script', sans-serif;
}
h5, h6, p, span{
  font-family: 'Open Sans', sans-serif;

}
.hr{
	width: 8em;
	color: $highlight;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.relative{
  position: relative;
}
.slider .indicators .indicator-item{ 
  background-color: white;
  border: $blue 2px solid;
}
.slider .indicators .indicator-item.active{
  background-color: $blue;
}
/***************************** ANCHORS */
#index-banner{
    background-color: rgba(0,0,0,.2);
}
#portfolio{
	  display: block;
	  height: 40px;
	  margin-top: -40px;
	  visibility: hidden;
	  z-index: -2;
}
#skill-set{
	  display: block;
	  height: 40px;
	  margin-top: -40px;
	  visibility: hidden;
	  z-index: -2;
}
#contact{
	  display: block;
	  height: 100px;
	  margin-top: -100px;
	  visibility: hidden;
	  z-index: -2;
}
/***************************** HOME//ABOUT*/

#my-name{
	margin-bottom: 0px;
}

#job-title{
	margin-top: 0px;
}

/***************************** PARALLAX*/
.parallax-container{
	height:600px;
	// overflow: hidden;
}

.meteor-icon{
	position: absolute;
	margin-top: -300px;
  opacity: .2;
}

/***************************** PROJECT CARDS*/
.modal-slider, .modal-slider .modal-footer{
  background-color: rgba(0,0,0,0);
  box-shadow: none;
}
.modalimg{
  width: 100%;
  margin: none;
}

/***************************** SKILL SET*/

.divide{
	color: $blue;
	font-weight: bold;
}
#lightning{
  position: absolute;
  top: 65px;
  left: 50%;
  margin-left: -35px;
  z-index: -1;
  color: rgba(255, 235, 59, 1);
  transform: scale(2, 2.1) rotate(0deg) scaleX(1);
}
/***************************** CONTACT*/
.contact{
	margin-bottom: 0px;
}

/***************************** PAGINATION*/
.pagination {
text-align: center;
	margin: 0 0 3em 0;
	a, .previous_page, .current, .next_page {
		padding: .75em 1em;
		margin: 0 .5em;
		border-radius: .15em;
		line-height: 20px;
		text-decoration: none;
		background: white;
		font-weight: 700;
		font-size: .7em;
		font-style: normal;
		&:hover {
			background: $highlight;
			color: white;
		}
	}
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
	max-width: 100%;
	height: 3em;
	border: 2px solid $border;
	padding: 1em;
	margin: .5em 0 2em 0;
}

textarea{
	height: 400px;
}
/***************************** LIBRARY*/
  .showcase{
    height: 250px;
  }
  .test{
    border: red solid 5px;
  }
	/*****BACKGROUND REVEAL*****/
	.reveal-wrapper{
    border: 10px dotted black;
    border-top: solid 1px #fff;
    position: relative;
    text-align: center;
    height: 100%;
    line-height: 200px;
  }

  .reveal-content{
    color: black;
    background: #fff;
  }

  .reveal-top{
    position: absolute;
    background: $blue;
    color: white;
    top:0;
    left:0;
    width: 100%;
    height: 90%;
    overflow: hidden;
    transition: height 0.6s ease;
  }

  .reveal-wrapper:hover .reveal-top{
    height: 0%;
  }

  /*****HEART BEAT*****/
  .heartbeat{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: background .1s ease;
    background: $blue;
    color: white;
  }
  .heartbeat:hover{
    background: white;
    color: black;
  }
  .heartbeat h1{
    display: block;
  }
  .heartbeat .bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    outline: $blue dotted 10px;
    opacity: 0;
  }
  .heartbeat:hover .bg{
    animation: pulse 0.7s infinite alternate;
  }
  @keyframes pulse{
    0%{
      transform: scale(1,1);
      opacity: 0.1;
    }
    100%{
      transform: scale(1.1,1.1);
      opacity: 0.9;
    }
  }

  /*****CARD FLIP*****/
  .perspective{
    perspective: 700;
  }
  .card-flip{
    color: white;
    position: relative;
    text-align: center;
    line-height: 250px;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
  }
  .card-flip:hover{
    transform: rotateY(180deg);
  }
  .front, .back {
    background: $blue;
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
  }
  .back{
    transform: rotateY(180deg);
  }
  /*****HEXAGON*****/
  .hex-contain{

  }
  .color-square{
  margin: 0 auto;
  height: 10px;
  width: 10px;
  border: 3px solid #999;
  border-top: 3px solid #C66;
  border-bottom: 3px solid #6C6;
  border-left: 3px solid #66C;
  border-right: 3px solid #CC6;	
  }
 .hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.3s ease-in-out;
    &.is-showing{
      opacity: 1;
      transform: translateX(0px);
    }
}
.hex .top {
    width: 0;
    border-bottom: 30px solid $blue;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex .middle {
    width: 104px;
    height: 60px;
    background: $blue;
}
.hex .bottom {
    width: 0;
    border-top: 30px solid $blue;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex-row {
    clear: left;
    margin: 0 auto;
}
.hex-row.even {
    margin-left: 53px;
}

  /*****PERISCOPE*****/
  .large-window{
    height: 400px;
    background-image: url("/parallax-sky.jpg");
    position: center 0px;
    repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 50%;
    width: 400px;
    margin: 0 auto;
    position: relative;
  }
  .window-tint{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hello{
    color: white;
  }
